.emoji-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .emoji-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    background-color: rgb(253, 227, 140, 0.2);
    border-radius: 8px;
    padding: 1rem;

    button {
      background-color: inherit;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}